body,html{margin:0;padding:0;font-family:Helvetica;background:#fbfbfb}body a,html a{color:inherit}body header,html header{color:#333;text-align:center}body header h2,html header h2{font-size:2.8em}body header h1,html header h1{font-size:5em}body header p,html header p{font-size:2em}body footer,html footer{margin-top:50px;text-align:center}body footer .smiley,html footer .smiley{font-size:12px}
