/***
 *
 *  grdlss
 *
 *  !file
 *  demo.less
 * 
 *  !description
 *  grdlss is a simple less grid framework which provides simple access to build your own grids
 * 
 *  !authors 
 *  Tim Kopplow (@timkopplow)
 * 
 */

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background: #fbfbfb;
    
    a {
        color: inherit;
    }
    
    header {
        
        color: #333;
        text-align: center;
    
        h2 {
            font-size: 2.8em;   
        }
        h1 {
            font-size: 5em;   
        }
        p {
            font-size: 2em;   
        }
    }
    footer {
        margin-top: 50px;
        text-align: center;
        
        .smiley {
            font-size:12px;   
        }
    }
}
