/***
 *
 *  grdlss
 * 
 *  !file
 *  grd.less - the grd main file
 *
 *  !description
 *  grdlss is a simple less grid framework which provides simple access to build your own grids
 * 
 *  !authors 
 *  Tim Kopplow (@timkopplow)
 * 
 *  @table of content
 * 
 */


/**
 * Variables
 *
 * !note Just the variables for grdlss
 * !note This is the place where you can change stuff
 */
@grdlss-height         : 70px;
@grdlss-width          : @grdlss-height;
@grdlss-padding-default: 10px;
@grdlss-per-line       : 6;
@grdlss-border-style   : solid 2px #999;
@grdlss-highlight-color: #f1f1f1;



.grdlss {
    
    /**
     * Helper
     *
     * !note inside grid helpers
     */
    .grdlss-double {
        width           : @grdlss-width * 2;
    }
    .grdlss-whole-width {
        width           : @grdlss-width * @grdlss-per-line;
    }
    
    width: (@grdlss-width * @grdlss-per-line);
    font-size           : 0 !important; 
    
    section {
        
        display         : inline-flex;
        min-height      : @grdlss-height;
        max-height      : @grdlss-height;
        width           : @grdlss-width;
        padding         : 0px;
        font-size       : 16px !important;
        overflow        : hidden;
        
    }
    
    /** for debug purposes
    .data:nth-child(even) {
        background: #eee;   
    }
    .data:nth-child(odd) {
        background: #aaa;   
    }
    **/

}
/**
 * Align grdlss to center
 */
.grdlss-center {
    margin              : 0 auto;   
}

/**
 * grdlss border (show a border for grdlss)
 */
.grdlss-border {
    border              : @grdlss-border-style;
    border-radius       : 2px;
}


/**
 * grid overflow (enable overflow)
 */
.grdlss-overflow {
    section {
        overflow        : visible;
    }
}

/**
 * Highlights even|odd
 */
.grdlss-highlight-even {
    section:nth-child(even) {
        background      : @grdlss-highlight-color;   
    }
}
.grdlss-highlight-odd {
    section:nth-child(odd) {
        background      : @grdlss-highlight-color;   
    }
}

/**
 * Turn padding on (set a padding to the .grdlss class)
 */
.grdlss-padding-on {
    width               : (@grdlss-width * @grdlss-per-line) + ((@grdlss-per-line * 2) * @grdlss-padding-default);
    section {
        padding         : @grdlss-padding-default;
    }
}
